:root.theme-dark {
  /* цвета */
  --accent-color: #FF0070;
  --primary-color: #000028;
  --secondary-color: #F1B2CE;
  --tertiary-color: #db00ff;

  /* .page */
  --background-page-color: var(--primary-color);
  --background-page-image: url(../images/cover-image-dark.png);
  /* text content */
  --text-content-color: var(--secondary-color);
  --text-title-color: var(--accent-color);
  --text-subtitle-color: var(--accent-color);
  /* .title-decor */
  --background-title-decor-color: var(--accent-color);
  --text-title-decor-color: var(--primary-color);
  /* .focus-decore */
  --focus-color: var(--tertiary-color);
  /* .menu */
  --menu-list-color: var(--accent-color);
  /* design */
  --border-color: var(--accent-color);
  --text-shadow-color: var(--accent-color);
}

.theme-dark .page .decorated-zone__rec {
  visibility: visible;
  display: block;
}

.theme-dark .page .header__title {
  -webkit-text-stroke: 0.4px #000;
}

.theme-dark .page .header__theme-menu-button:hover {
  outline: 1px solid #FF007066;
}