.title-decor {
  color: var(--text-title-decor-color);
  background-color: var(--background-title-decor-color);
}

.title-decor-light {
  font-weight: normal;
}

.focus-decor {
  color: var(--focus-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--text-shadow-color);
}

.page {
  padding-inline: var(--padding-content-inline);
  padding-block: var(--padding-content-block);
  font-family: "IBM Plex mono", sans-serif;
  font-size: var(--font-main-size);
  background-color: var(--background-page-color);
  background-image: var(--background-page-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 30% 1fr;
  block-size: calc(100dvh - var(--padding-content-block) * 2);
  min-block-size: calc(668px - var(--padding-content-block) * 2);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  top: 0;
  left: 100%;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  transform: translate(-100%, 0);
}

.decorated-zone::before {
  bottom: 0;
  left: 0;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
}

.decorated-zone__rec {
  position: absolute;
  top: 4px;
  right: 30px;
  color: var(--accent-color);
}

.decorated-zone__rec::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--text-shadow-color);
  background-color: var(--accent-color);
  transform: translate(0, -50%);
  inline-size: 10px;
  block-size: 10px;
}

.header__title {
  display: block;
  align-self: center;
  font-weight: 700;
  line-height: 0.8;
  text-align: left;
  -webkit-text-stroke: 0.4px #000;
}

.header__text {
  justify-self: end;
  align-self: center;
  font-weight: 600;
  font-size: var(--font-main-size);
  inline-size: min(100%, 365px);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  color: var(--menu-list-color);
}

.header__theme-menu-button {
  border: none;
  padding-inline: 15px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid #FF007066;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--border-color);
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

.header__theme-menu-button_active:hover {
  outline: 1px solid var(--border-color);
}

.header__theme-menu-button:focus {
  border-block-end: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--border-color);
  outline: none;
}

.main {
  padding-block-start: 2.7em;
  padding-block-end: 2.7em;
}

.content-section {
  margin-block-end: 50px;
}

.content__card-title {
  margin-block-end: 1.1em;
  color: var(--text-title-color);
  font-weight: 700;
  font-size: var(--font-main-size);
}

.content__card-title span {
  display: block;
}

.content__card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__card-text {
  color: var(--text-content-color);
  line-height: 1.3;
}

.content__card-link {
  position: relative;
  text-decoration: none;
  text-shadow: 2px 2px var(--text-shadow-color);
}

.content__card-link::before {
  content: "";
  position: absolute;
  inset: auto auto -1px auto;
  opacity: 0;
  background-color: var(--text-content-color);
  transition: all 0.2s ease 0s;
  inline-size: 100%;
  block-size: 2px;
}

.content__card-link:hover::before {
  opacity: 1;
}

.content__card-link:focus-visible {
  outline: 1px solid var(--border-color);
}

.content__card-subtitle {
  margin-block-end: 0.6em;
  font-size: var(--font-main-size);
}

.content__card-text:not(:last-child) {
  margin-block-end: 10px;
}

.content__card-title~.content__card>.content__card-subtitle {
  margin-block-end: 1em;
}

.content__card-title~.content__card>.content__card-subtitle {
  margin-block-end: 1em;
}

.gallery__title {
  margin-block-end: 0.6em;
  font-size: var(--font-main-size);
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: calc(100dvh - var(--padding-content-block) * 2);
  min-block-size: calc(668px - var(--padding-content-block) * 2);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--text-shadow-color);
}

@media (width >=768px) {
  .header {
    grid-auto-rows: 1fr 10% 1fr;
  }

  .header__title {
    position: relative;
    left: -20px;
  }

  .main {
    padding-block-start: 4.5em;
    padding-block-end: 4em;
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-end: 78px;
  }

  .content__card-title {
    margin: 0;
  }

  .content-section:nth-child(2) .grid-item {
    grid-column: span 3;
  }

  .grid-item {
    grid-column: span 2;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 3;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
  }


}

@media (width >=1024px) {
  .focus-decor {
    align-self: flex-end;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu-list {
    flex-flow: row;
  }

  .header {
    grid-auto-rows: min-content 55% 1fr;
  }

  .content__card-title~.content__card>.content__card-subtitle {
    margin-block-end: 1.3em;
  }

  .header__text {
    align-self: center;
    inline-size: min(100%, 491px);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .content-section:nth-child(2) .grid-item {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__title {
    align-self: center;
  }

}